name: CI/CD Pipeline

on:
  workflow_dispatch:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ '**' ]

permissions:
  contents: write
  deployments: write

jobs:
  backend-lint-and-test:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    strategy:
      matrix:
        node-version: [24.x]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install
      - name: Run backend linter
        run: cd backend && yarn lint
      - name: Run backend tests
        run: cd backend && yarn test
      - name: Upload coverage reports
        uses: codecov/codecov-action@v3
        with:
          fail_ci_if_error: false

  frontend-validation:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    strategy:
      matrix:
        node-version: [24.x]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install
      - name: Build frontend
        run: cd frontend && yarn build

  frontend-deploy:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    needs: [backend-lint-and-test, frontend-validation]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 24.x
        uses: actions/setup-node@v3
        with:
          node-version: '24.x'
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install
      - name: Build frontend
        run: cd frontend && yarn build
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./frontend/dist

  vercel-deploy-backend:
    runs-on: ubuntu-latest
    needs: [backend-lint-and-test]
    if: github.ref == 'refs/heads/main' && github.event_name == 'push' # Deploy only on push to main branch
    steps:
      - uses: actions/checkout@v3
      - name: Deploy Backend to Vercel
        uses: vercel/action@v2
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID }}
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID }}
          working-directory: ./
        env:
          NODE_ENV: production
